[user]
    name = Torsten Curdt
    email = tcurdt@vafer.org

[color]
    branch = auto
    diff = auto
    status = auto
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[push]
    default = current
[pull]
    ff-only = 1
[apply]
    whitespace = fix
[log]
    oneline = 1
[diff]
    word-diff = 1
[rerere]
    enabled = 1

[alias]
    cr = clone --recursive
    st = status -s
    co = checkout
    ci = commit -v
    cl = clean -df

    aa = add --all
    au = add -u
    a  = add
    ar = !sh -c 'git add .' -c 'git ls-files --deleted | xargs git rm'

    l  = log --graph --decorate --no-merges --pretty=format:'%h - %an, %ar : %s'
    ll = log --graph --oneline --decorate --no-merges --name-status
    lp = log --abbrev-commit --date=relative -p
    la = !git l --all

    ss = submodule status
    su = submodule update --init --recursive

    pp = !git pull --rebase && git push
    pf = pull --ff-only
    pr = pull --rebase
    p  = push
    pm = push origin master

    di = diff
    dc = diff --cached
    rc = rm -r --cached
    h  = !git head
    r  = !git --no-pager 1 -20
    ra = !git r --all
    ff = merge --ff-only
    gn = goodness
    fa = fetch --all
    head = !git 1 -1
    amend = commit --amend
    div = divergence
    gnc = goodness --cached
    unstage = reset HEAD --
    last = log -1 HEAD
    incoming = log --oneline origin/master ^master
    outgoing = log --oneline master ^origin/master
    upstream = !sh -c 'git branch --set-upstream `git rev-parse --abbrev-ref HEAD` origin/`git rev-parse --abbrev-ref HEAD`'
    graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    changes = log --oneline --reverse
    rank = shortlog -sn --no-merges
    branchlog = log master..HEAD
    branchdiff = diff master...HEAD
    branchreview = log -p master..HEAD
    hub = !hub
    dashboard = "!f() { for branch in $(git branch -a | cut -c 3-); do if [ ! $branch = '->' ]; then branches=\"$branches$(git log --no-walk --pretty=format:\"%ct (%cr)\t%Cgreen$branch%Creset %Cblue%an%Creset\" $branch)\\n\"; fi; done; echo -e $branches | sort -rk1 | cut -c 12-; }; f"
    standup = "!f() { git log --since=$1.days --author=tcurdt --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(green)(%an, %ar)%Creset' --all; }; f"

[core]
    excludesfile = ~/.gitignore_global
    whitespace = trailing-space,space-before-tab,indent-with-non-tab
    pretty = format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset

[github]
    user = tcurdt
    token = !security 2>&1 >/dev/null find-generic-password -gs github.token | ruby -e 'print $1 if STDIN.gets =~ /^password: \\\"(.*)\\\"$/'

[gist]
    private = yes
    browse = yes
