/*
/.*
!/.ackrc
!/bin/
!/.gdbinit
!/.gemrc
!/.gitconfig
!/.gitignore
!/.gitignore_global
!/.irbrc
!/.npmrc
!/.profile
!/.profile.darwin
!/.profile.linux-gnu
!/.screenrc
!/.uncrustify
!/.vim/
!/.vimrc
